body {
  background-color: lavenderblush;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 90px;
  text-align: center;
  color:#7B68EE;
}
.albums {
  font-size: 75px;
  color:#7B68EE;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.descriptions {
  font-size: 30px;
  color:#7B68EE;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}
